:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-color: #2f303a;
  --icon-color: #afb1b8;
  --trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.mobile-socials, .mobile-contacts, .mobile-menu, .footer .address__list, .projects__list, .filters__list, .clients__list, .socials, .team__list, .works__list, .features__list, .contacts, .nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-socials__link, .mobile-contacts__link, .mobile-menu__link, .footer .address__link, .projects__link, .clients__link, .socials__link, .contacts__link, .nav__link {
  text-decoration: none;
  color: currentColor;
}

.footer, .clients, .team, .features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer, .clients, .team, .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filters__btn, .btn {
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  color: var(--tittle-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (max-width: 767px) {
  .header .container {
    padding: 16px 15px;
  }
}
@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}
.logo__studio-header {
  color: #000000;
}
.logo__studio-footer {
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--tittle-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--trns);
  transition: color var(--trns);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--trns);
  transition: color var(--trns);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/jpg-hero/imgh_m@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/jpg-hero/imgh_m@1x.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/jpg-hero/imgh_m@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/jpg-hero/imgh_m@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/jpg-hero/imgh_t@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/jpg-hero/imgh_t@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/jpg-hero/imgh_t@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/jpg-hero/imgh_t@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/jpg-hero/imgh_d@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/jpg-hero/imgh_d@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero/jpg-hero/imgh_d@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/jpg-hero/imgh_d@2x.jpg);
  }
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) {
  .hero .btn {
    padding: 10px 32px;
  }
}

.btn {
  min-width: 200px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--trns);
  transition: background-color var(--trns);
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.features__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.features__title {
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.works {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.works__item {
  position: relative;
}
.works__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.works__overlay-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.team {
  background-color: var(--secondary-bg-color);
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team-member {
  padding: 30px 0;
}
.team-member__name {
  margin-bottom: 10px;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.socials__item {
  width: 44px;
  height: 44px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-transition: color var(--trns), background-color var(--trns);
  transition: color var(--trns), background-color var(--trns);
}
.socials__link:hover, .socials__link:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.socials__icon {
  fill: currentColor;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: color var(--trns), border var(--trns);
  transition: color var(--trns), border var(--trns);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__logo {
  fill: currentColor;
}

.filters__list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 50px;
  }
}

.filters__btn {
  padding: 6px 22px;
  color: var(--tittle-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: color var(--trns), background-color var(--trns), -webkit-box-shadow var(--trns);
  transition: color var(--trns), background-color var(--trns), -webkit-box-shadow var(--trns);
  transition: color var(--trns), background-color var(--trns), box-shadow var(--trns);
  transition: color var(--trns), background-color var(--trns), box-shadow var(--trns), -webkit-box-shadow var(--trns);
}

.filters__btn:hover,
.filters__btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-transition: -webkit-box-shadow var(--trns);
  transition: -webkit-box-shadow var(--trns);
  transition: box-shadow var(--trns);
  transition: box-shadow var(--trns), -webkit-box-shadow var(--trns);
}
.projects__item:hover, .projects__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--trns);
  transition: -webkit-transform var(--trns);
  transition: transform var(--trns);
  transition: transform var(--trns), -webkit-transform var(--trns);
}

.projects__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
}

.projects__item:hover .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__name {
  margin-bottom: 4px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__category {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  background-color: var(--footer-color);
}
@media screen and (max-width: 1199px) {
  .footer .container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}
.footer .address__list {
  font-style: normal;
}
.footer .address__item {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.footer .address__item:first-child {
  color: var(--primary-bg-color);
}
.footer .address__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .address__link {
  -webkit-transition: color var(--trns);
  transition: color var(--trns);
}
.footer .address__link:hover, .footer .address__link:focus {
  color: var(--accent-color);
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
@media screen and (max-width: 1199px) {
  .footer .socials {
    margin-bottom: 60px;
  }
}
.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-bg-color);
  -webkit-transition: background-color var(--trns);
  transition: background-color var(--trns);
}
.footer .socials__link:hover, .footer .socials__link:focus {
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footer__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
    width: 570px;
  }
}
.footer__form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
}
@media screen and (max-width: 1199px) {
  .footer__form .btn {
    margin: 0 auto;
  }
}
.footer__input {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
}
.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199px) {
  .footer__input {
    margin-bottom: 20px;
  }
}
.footer__send-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--trns), visibility var(--trns);
  transition: opacity var(--trns), visibility var(--trns);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-50%) translateY(-20%);
          transform: translateX(-50%) translateY(-20%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 40px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--trns), -webkit-transform var(--trns);
  transition: opacity var(--trns), -webkit-transform var(--trns);
  transition: transform var(--trns), opacity var(--trns);
  transition: transform var(--trns), opacity var(--trns), -webkit-transform var(--trns);
}
@media screen and (min-width: 450px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__close-icon {
  -webkit-transition: fill var(--trns);
  transition: fill var(--trns);
}
.modal__close-icon:hover, .modal__close-icon:focus {
  fill: var(--accent-color);
}
.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--tittle-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}
.modal__field {
  margin-bottom: 20px;
}
.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal__input {
  position: relative;
  margin-bottom: 10px;
}
.modal__input-item {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  -webkit-transition: border-color var(--trns);
  transition: border-color var(--trns);
}
.modal__input-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill var(--trns);
  transition: fill var(--trns);
}
.modal__input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  resize: none;
  -webkit-transition: border-color var(--trns);
  transition: border-color var(--trns);
}
.modal__input-comment::-webkit-input-placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment::-moz-placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment:-ms-input-placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment::-ms-input-placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-comment::placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input-item:focus, .modal__input-comment:focus, .modal__input-item:focus + .modal__input-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  font-size: 12px;
  line-height: 1.71;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}
.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--tittle-text-color);
  -webkit-transition: var(--trns);
  transition: var(--trns);
}
.checkbox__link {
  color: var(--accent-color);
  text-underline-offset: 3px;
}

.modal__checkbox:checked + .checkbox__label .checkbox__icon {
  border: transparent;
  background-color: var(--accent-color);
}

.modal__checkbox:focus + .checkbox__label .checkbox__icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal__form .btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-bg-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--tittle-text-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}
.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mobile-contacts__link.tel {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}
.mobile-contacts__link.email {
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.mobile-socials__item:not(:last-child) {
  padding-right: 10px;
}
.mobile-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */