/* :root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-color: #2f303a;
  --icon-color: #afb1b8;
  --trns: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
} */

/* h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/* Header */

/* .header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
} */

/* .logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
} */

/* .header-studio {
  color: #000000;
} */

/* Nav */

/* .header-nav {
  margin-right: auto;
}

.menu-nav {
  display: flex;
  gap: 50px;
}

.menu-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--tittle-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--trns);
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}

.menu-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
} */

/* .contacts {
  display: flex;
  gap: 30px;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--trns);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
} */

/* Hero */

/* .hero {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */

/* Button */

/* .btn {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--trns);
}

.hero .btn {
  padding: 10px 32px;
}

.filters-btn {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--tittle-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  transition: color var(--trns), background-color var(--trns), box-shadow var(--trns);
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* Sections */

/* .section-title {
  margin-bottom: 50px;

  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
} */

/* Feature */

/* .feature-list {
  display: flex;
}

.feature-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.feature-list .item {
  width: 270px;

  line-height: 1.71;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  margin-bottom: 10px;

  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
} */

/* Works */

/* .work.section {
  padding-top: 0;
}

.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
} */

/* Team */

/* .team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-list .item {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .title {
  margin-bottom: 10px;

  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
} */

/* .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);

  transition: color var(--trns), background-color var(--trns);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
} */

/* Clients */

/* .clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 90px;
}

.clients__list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: color var(--trns), border var(--trns);
}

.clients__list .link:hover,
.clients__list .link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__logo {
  fill: currentColor;
} */

/*             Portfolio             */

/* Filters */

/* .filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
} */

/* Projects */

/* .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__link {
  display: block;
  text-decoration: none;

  transition: box-shadow var(--trns);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--trns);
}

.projects__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
}

.projects__item:hover .projects__overlay {
  transform: translateY(0);
}

.projects__name {
  margin-bottom: 4px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__category {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.projects__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
} */

/* Footer */

/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer-studio {
  color: var(--primary-bg-color);
}

.address {
  margin-bottom: 9px;
  color: var(--primary-bg-color);
  font-style: normal;
}

.footer-contacts {
  margin-right: 70px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
}

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts .link {
  transition: color var(--trns);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-bg-color);

  transition: background-color var(--trns);
}

.footer .socials__link:hover,
.footer .socials__link:focus {
  background-color: var(--accent-color);
} */

/* .footer-subscription {
  margin-left: auto;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
}

.send-icon {
  margin-left: 10px;
} */

/* Modal */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--trns), visibility var(--trns);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform var(--trns), opacity var(--trns);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-20%);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close .modal-close-icon {
  transition: fill var(--trns);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--tittle-text-color);
}

.modal-field {
  margin-bottom: 20px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  margin-bottom: 4px;
}

.modal__input {
  position: relative;
  margin-bottom: 10px;
}

.input-item {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;

  transition: border-color var(--trns);
}

.input-icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill var(--trns);
}

.input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  resize: none;

  transition: border-color var(--trns);
}

.input-item:focus,
.input-comment:focus,
.input-item:focus + .input-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.input-comment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: 1.71;
  user-select: none;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  border: 2px solid var(--tittle-text-color);

  transition: var(--trns);
}

.modal-checkbox:checked + .checkbox-label .checkbox-icon {
  border: transparent;
  background-color: var(--accent-color);
}

.modal-checkbox:focus + .checkbox-label .checkbox-icon {
  transform: scale(1.1);
}

.checkbox-link {
  color: var(--accent-color);
  text-underline-offset: 3px;
}

.modal-form .btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
} */
