.features {
  @extend %section;

  &__icon {
    @include flex-center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  }

  &__list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__item {
    line-height: 1.71;
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 3) / 4);
    }
  }

  &__title {
    margin-bottom: 10px;
    color: var(--tittle-text-color);
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}
