.header {
  .container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;

    @media screen and (max-width: 767px) {
      padding: 16px 15px;
    }
  }

  .logo {
    @media screen and (min-width: 768px) {
      margin-right: 87px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}
