.hero {
  @include section(118px, 118px);
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    @include section(200px, 200px);
    max-width: 1600px;
  }

  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // Mobile
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img_m@1x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_m@2x.jpg);
  }

  // Tablet
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_t@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_t@2x.jpg);
    }
  }

  // Desktop
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/img_d@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/img_d@2x.jpg);
    }
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color);

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .btn {
    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
  }
}
