.projects__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__link {
  @extend %link;
  display: block;
  transition: box-shadow var(--trns);
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--trns);
}

.projects__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
}

.projects__item:hover .projects__overlay {
  transform: translateY(0);
}

.projects__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__name {
  margin-bottom: 4px;
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__category {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
