.team {
  @extend %section;
  background-color: var(--secondary-bg-color);

  &__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    flex-basis: 100%;
    background-color: var(--primary-bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 3) / 4);
    }
  }
}

.team-member {
  padding: 30px 0;

  &__name {
    margin-bottom: 10px;
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}
